# convertBCODMOtoCMAP
Krista Longnecker, 2 July 2025\
Run this after running getBCODMOinfo.ipynb\
Once you have the information from BCO-DMO dataset in hand, use this to make it into the format required by CMAP.\
Note: this version puts most of the code into a separate python script (convert.py) to make it easier to run through multiple data files.

In [1]:
#some of these are residual from assembling the data file, keep for now.
import pandas as pd
import requests
import os
import json
import re
import pdb

from datetime import datetime, timedelta, timezone
from SPARQLWrapper import SPARQLWrapper, POST, JSON
from frictionless import describe, Package

In [22]:
# Make a function that searches for bcodmo:name and returns bcodmo:description and bcodmo:units
# input: md --> the list of parameters for one dataset
def getDetails(md,bcodmo_name):
    """
    Take the list of information from BCO-DMO, search for a name, and return the description and units for that name
    """
    for i, item in enumerate(md):
        if item['bcodmo:name'] == bcodmo_name:
            #actually want the descrption, so return that
            description = item['bcodmo:description']
            if 'bcodmo:units' in item:
                units = item['bcodmo:units']
            else:
                units = 'not applicable'
            #print(units)

    return description, units

In [3]:
#read in the package that was already made (using getBCODMOinfo.ipynb)
biosscope = Package('datapackage.json')
# biosscope = Package(JSON_FILE)

In [4]:
out = [];
for idx,item in enumerate(biosscope.resources):
    justFile = item.name;
    #pdb.set_trace()
    out.append(justFile)

out #this will be a list, iterate through the files on this list 
#leave here so I see the filenames might not need the actual list

['zooscan_images_bats_ae1614',
 'zooscan_images_bats_ae1712',
 'zooscan_images_bats_ae1819',
 'zooscan_images_bats_ae1830',
 'zooscan_bats_biovolume',
 'zooscan_mocness_output',
 'survey_biogeochemical',
 '920443_v1_biosscope_in_situ_pump_chemical_data',
 '964684_v1_amino_acids_biosscope_2021',
 '964801_v1_pump_carbohydrates_biosscope_2021',
 '964826_v1_pump_poc_pon_biosscope']

In [62]:
#most datasets need additional processing to get depth and/or time. 
#Set up a table here to note what needs to be done, use later to spin off to other scripts.
toSkip = {'zooscan_images_bats_ae1614', #these actually will not match below bc do not end in csv
 'zooscan_images_bats_ae1712',
 'zooscan_images_bats_ae1819',
 'zooscan_images_bats_ae1830',
 'zooscan_bats_biovolume'} #this has data, but no time or location informationn
pumpData = {'920443_v1_biosscope_in_situ_pump_chemical_data',
 '964684_v1_amino_acids_biosscope_2021',
 '964801_v1_pump_carbohydrates_biosscope_2021',
 '964826_v1_pump_poc_pon_biosscope'}
zoopData = {'zooscan_mocness_output'}
discreteData = {'survey_biogeochemical'};

# Start working with a data file

In [7]:
# import convert #this is the function, run this cell if I have made an edit to convert.py
# import convert_pumpData

In [106]:
for idx in range(len(biosscope.resources)):
    data_url = biosscope.resources[idx].path
    if data_url.endswith('.csv'):
        checkFile = re.split('/',data_url).pop().replace('.csv','')
        #print(data_url)
        #have a few options and trying to group these based on added steps needed to make the data file ready
        if checkFile in toSkip:
            print('skip ' + checkFile)
        elif checkFile in pumpData:
            %run convert_pumpData.py {idx}   
        elif checkFile in zoopData:
            %run convert_zoopData.py {idx}   
        elif checkFile in discreteData:
            %run convert.py {idx}   
        else:
            print('no match ' + checkFile)

skip zooscan_bats_biovolume
Data will go here: C:\Users\klongnecker\Documents\Dropbox\GitHub_espresso\BWrepos\data\zooscan_mocness_output
Data will go here: C:\Users\klongnecker\Documents\Dropbox\GitHub_espresso\BWrepos\data\survey_biogeochemical
Data will go here: C:\Users\klongnecker\Documents\Dropbox\GitHub_espresso\BWrepos\data\920443_v1_biosscope_in_situ_pump_chemical_data
Data will go here: C:\Users\klongnecker\Documents\Dropbox\GitHub_espresso\BWrepos\data\964684_v1_amino_acids_biosscope_2021
Data will go here: C:\Users\klongnecker\Documents\Dropbox\GitHub_espresso\BWrepos\data\964801_v1_pump_carbohydrates_biosscope_2021
Data will go here: C:\Users\klongnecker\Documents\Dropbox\GitHub_espresso\BWrepos\data\964826_v1_pump_poc_pon_biosscope

troubleshooting bits below here

In [65]:
idx = 5
data_url = biosscope.resources[idx].path
checkFile = re.split('/',data_url).pop().replace('.csv','')
checkFile

'zooscan_mocness_output'

In [66]:
 #to do: figure out a better way to do this so I am not reading in the json file every time
biosscope = Package('datapackage.json')

data_url = biosscope.resources[idx].path
md = biosscope.resources[idx].custom['bcodmo:parameters'] #this is a list, don't forget 'custom' (!!)

#make a short name out of the data_url, will use this as part of the name for the final Excel file 
exportFile = re.split('/',data_url).pop().replace('.csv','')

#super easy to work with the CSV file once I have the URL
#pdb.set_trace()
bcodmo = pd.read_csv(data_url,na_values = ['nd']) #now I have NaN...but they get dropped when writing the file
    
# Required variables are time, lat, lon, depth
df = pd.DataFrame(columns=['time','lat','lon','depth'])

In [67]:
temp = bcodmo.copy()

In [101]:
#the object_id has the cruise information that will be needed later...pull that out
temp['Cruise'] = ''
for i,item in temp.iterrows():
    c = re.split('_',temp.loc[i,'object_id'])
    oneC = [c[n] for n in (0,)]
    #pdb.set_trace()
    temp.loc[i,'Cruise'] = oneC[-1]

In [102]:
temp.head()

,object_id,object_lat,object_lon,object_date,object_time,ISO_DateTime_UTC,object_depth_min,object_depth_max,object_annotation_hierarchy,object_area,object_major,object_minor,object_feret,object_esd,sample_tot_vol,acq_sub_part,date,date_cmap,Cruise
0,ae1614_m3_n1_d1_1_1,32.18217,-64.47535,2016-07-11,03:50:00,2016-07-11T06:50:00Z,902.2,996.2,not-living,2716,74.9,46.1,77.2,58.805770,531.5,2.0,2016-07-11 06:50:00+00:00,2016-07-11T06:50:00,ae1614
1,ae1614_m3_n1_d1_1_10,32.18217,-64.47535,2016-07-11,03:50:00,2016-07-11T06:50:00Z,902.2,996.2,not-living,2928,127.3,29.3,318.5,61.057722,531.5,2.0,2016-07-11 06:50:00+00:00,2016-07-11T06:50:00,ae1614
2,ae1614_m3_n1_d1_1_11,32.18217,-64.47535,2016-07-11,03:50:00,2016-07-11T06:50:00Z,902.2,996.2,not-living,13098,219.8,75.9,567.6,129.139040,531.5,2.0,2016-07-11 06:50:00+00:00,2016-07-11T06:50:00,ae1614
3,ae1614_m3_n1_d1_1_12,32.18217,-64.47535,2016-07-11,03:50:00,2016-07-11T06:50:00Z,902.2,996.2,living,667521,2458.0,345.8,2403.4,921.907877,531.5,2.0,2016-07-11 06:50:00+00:00,2016-07-11T06:50:00,ae1614
4,ae1614_m3_n1_d1_1_13,32.18217,-64.47535,2016-07-11,03:50:00,2016-07-11T06:50:00Z,902.2,996.2,not-living,2971,148.9,25.4,165.4,61.504428,531.5,2.0,2016-07-11 06:50:00+00:00,2016-07-11T06:50:00,ae1614

In [88]:
    
# time --> CMAP requirement is this: #< Format  %Y-%m-%dT%H:%M:%S,  Time-Zone:  UTC,  example: 2014-02-28T14:25:55 >
# Do this in two steps so I can check the output more easily
#no time available in particle data
temp = bcodmo.copy()
temp['date'] = pd.to_datetime(temp['ISO_DateTime_UTC'])
temp['date_cmap'] = temp['date'].dt.strftime("%Y-%m-%dT%H:%M:%S")
df['time'] = temp['date_cmap']

# lat (-90 to 90) and lon (-180 to 180); use variable names at BCO-DMO
df['lat'] = bcodmo['object_lat']
df['lon'] = bcodmo['object_lon']  #BCO-DMO already has this as negative

#depth in the zooplankton data are a range from min to max, select a number in the middle
df['depth'] = bcodmo['object_depth_max'] - bcodmo['object_depth_min']

# all remaining columns in bcodmo can be considered data
#remember: bcodmo_trim will have the list of variables that I will use later to get metadata about the variables
#for the zoop data - keep min and max depth
bcodmo_trim = bcodmo.drop(columns=['object_lat', 'object_lon'])
nVariables = bcodmo_trim.shape[1] #remember in Python indexing starts with 0 (rows, 1 is the columns)
# and then add to the datafile I am assembling (essentially re-order columns
df = pd.concat([df, bcodmo_trim], axis=1)


# work on the second sheet: metadata about the variables; use the CMAP dataset template to setup the dataframe so I get the column headers right
templateName = 'datasetTemplate.xlsx'
sheet_name = 'vars_meta_data'
vars = pd.read_excel(templateName, sheet_name=sheet_name)
cols = vars.columns.tolist()
#df2 will be the dataframe with the metadata about the variables, set it up empty here
df2 = pd.DataFrame(columns=cols,index = pd.RangeIndex(start=0,stop=nVariables)) #remember, Python is 0 indexed

#the variables I need to search for are here: bcodmo_trim.columns, put them in the first column
df2['var_short_name'] = bcodmo_trim.columns
#Need the information from BCO-DMO to fill in the metadata about the variables.
#md = biosscope.resources[idx].custom['bcodmo:parameters'] #this is a list, don't forget 'custom' (!!)

In [80]:
for idx,item in enumerate(df2.iterrows()):
    a,b = getDetails(md,df2.loc[idx,'var_short_name']) #getDetails is the function I wrote (see above)
    #pdb.set_trace()
    df2.loc[idx,'var_long_name'] = a
    df2.loc[idx,'var_unit'] = b
    #print(a)

In [44]:
df2.head()

,var_short_name,var_long_name,var_sensor,var_unit,var_spatial_res,var_temporal_res,var_discipline,visualize,var_keywords,var_comment
0,Sample_ID,Internal sample ID,NaN,unitless,NaN,NaN,NaN,NaN,NaN,NaN
1,Cruise,BIOSSCOPE cruise identifier,NaN,unitless,NaN,NaN,NaN,NaN,NaN,NaN
2,Date,<p>Date of sampling</p>,NaN,unitless,NaN,NaN,NaN,NaN,NaN,NaN
3,Size_fraction,Particle size range for water fraction,NaN,micrometers (um),NaN,NaN,NaN,NaN,NaN,NaN
4,Filter_type,"Filter type used for particle fraction (Nitex,...",NaN,unitless,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
idx=0

In [82]:
#metadata about the project    
# finally gather up the dataset_meta_data: for now I just wrote the information here, I might setup in a separate text file later
#pdb.set_trace()
df3 = pd.DataFrame({
    'dataset_short_name': ['BIOSSCOPE_v1'],
    'dataset_long_name': ['BIOS-SCOPE_' + exportFile],
    'dataset_version': ['1.0'],
    'dataset_release_date': ['2025-06-25'],
    'dataset_make': ['observation'],
    'dataset_source': ['Hilary Close, University of Miami Rosenstiel School of Marine and Atmospheric Science'],
    'dataset_distributor': ['Hilary Close, University of Miami Rosenstiel School of Marine and Atmospheric Science'],
    'dataset_acknowledgement': ['We thank the BIOS-SCOPE project team and the BATS team for assistance with sample collection, processing, and analysis. The efforts of the captains, crew, and marine technicians of the R/V Atlantic Explorer are a key aspect of the success of this project. This work supported by funding from the Simons Foundation International.'],
    'dataset_history': [''],
    'dataset_description': ['blah blah'],
    'dataset_references': ['Henderson, L.C., Wittmers, F., Carlson, C. A., Worden, A.Z., & Close, H. G. (2024. Variable carbon isotope fractionation of photosynthetic communities over depth in an open-ocean euphotic zone. Proceedings of the National Academy of Sciences, 121(10). https://doi.org/10.1073/pnas.2304613121'],
    'climatology': [0]
    })

In [91]:
temp.head()

,object_id,object_lat,object_lon,object_date,object_time,ISO_DateTime_UTC,object_depth_min,object_depth_max,object_annotation_hierarchy,object_area,object_major,object_minor,object_feret,object_esd,sample_tot_vol,acq_sub_part,date,date_cmap
0,ae1614_m3_n1_d1_1_1,32.18217,-64.47535,2016-07-11,03:50:00,2016-07-11T06:50:00Z,902.2,996.2,not-living,2716,74.9,46.1,77.2,58.805770,531.5,2.0,2016-07-11 06:50:00+00:00,2016-07-11T06:50:00
1,ae1614_m3_n1_d1_1_10,32.18217,-64.47535,2016-07-11,03:50:00,2016-07-11T06:50:00Z,902.2,996.2,not-living,2928,127.3,29.3,318.5,61.057722,531.5,2.0,2016-07-11 06:50:00+00:00,2016-07-11T06:50:00
2,ae1614_m3_n1_d1_1_11,32.18217,-64.47535,2016-07-11,03:50:00,2016-07-11T06:50:00Z,902.2,996.2,not-living,13098,219.8,75.9,567.6,129.139040,531.5,2.0,2016-07-11 06:50:00+00:00,2016-07-11T06:50:00
3,ae1614_m3_n1_d1_1_12,32.18217,-64.47535,2016-07-11,03:50:00,2016-07-11T06:50:00Z,902.2,996.2,living,667521,2458.0,345.8,2403.4,921.907877,531.5,2.0,2016-07-11 06:50:00+00:00,2016-07-11T06:50:00
4,ae1614_m3_n1_d1_1_13,32.18217,-64.47535,2016-07-11,03:50:00,2016-07-11T06:50:00Z,902.2,996.2,not-living,2971,148.9,25.4,165.4,61.504428,531.5,2.0,2016-07-11 06:50:00+00:00,2016-07-11T06:50:00

In [90]:
#get the list of cruise names from the bcodmo data file
t = pd.DataFrame(temp['Cruise'].unique())
t.columns = ['cruise_names']
df3 = pd.concat([df3,t],axis=1,ignore_index = True)

KeyError: 'Cruise'

In [ ]:
#export the result as an Excel file with three tabs
#make the data folder if it is not already there (it is in .gitignore, so it will not end up at GitHub)
folder = "data"
os.chdir(".")

In [47]:
if os.path.isdir(folder):
    print("Data will go here: %s" % (os.getcwd()) + '\\' + folder + '\\' + exportFile)
else:
    os.mkdir(folder)

fName_CMAP = 'data/' + 'BIOSSCOPE_' + exportFile + '.xlsx' 
dataset_names = {'data': df, 'dataset_meta_data': df3, 'vars_meta_data': df2}
with pd.ExcelWriter(fName_CMAP) as writer:
    for sheet_name, data in dataset_names.items():
        data.to_excel(writer, sheet_name=sheet_name, index=False)

Data will go here: C:\Users\klongnecker\Documents\Dropbox\GitHub_espresso\BWrepos\data\964826_v1_pump_poc_pon_biosscope

In [46]:
fName_CMAP = 'test.xlsx' 
dataset_names = {'data': df, 'dataset_meta_data': df3, 'vars_meta_data': df2}
with pd.ExcelWriter(fName_CMAP) as writer:
    for sheet_name, data in dataset_names.items():
        data.to_excel(writer, sheet_name=sheet_name, index=False)

In [ ]:
#raise UserWarning('Stopping and leave code below for historical reasons, code will not run')

In [ ]:
#was heading down this path and using out as a dictionary, leave for now in case I come back to this.
# out = {};
# for idx,item in enumerate(biosscope.resources):
#     justFile = item.name;
#     #pdb.set_trace()
#     out.update({'file':justFile})
#     if justFile == '920443_v1_biosscope_in_situ_pump_chemical_data':
#         print('yes')
#         out.update({'toDo':'addDepth'})
        
#     #out.append(justFile)

# out #this will be a list, iterate through the files on this list