# convertBCODMOtoCMAP
Krista Longnecker, 2 July 2025\
Run this after running getBCODMOinfo.ipynb\
Once you have the information from BCO-DMO dataset in hand, use this to make it into the format required by CMAP.\
Note: this version puts most of the code into a separate python script (convert.py) to make it easier to run through multiple data files.

In [111]:
%reset -f

In [112]:
#some of these are residual from assembling the data file, keep for now.
import pandas as pd
import requests
import os
import json
import re
import pdb

from datetime import datetime, timedelta, timezone
from SPARQLWrapper import SPARQLWrapper, POST, JSON
from frictionless import describe, Package

In [113]:
# Make a function that searches for bcodmo:name and returns bcodmo:description and bcodmo:units
# input: md --> the list of parameters for one dataset
def getDetails(md,bcodmo_name):
    """
    Take the list of information from BCO-DMO, search for a name, and return the description and units for that name
    """
    for i, item in enumerate(md):
        if item['bcodmo:name'] == bcodmo_name:
            #actually want the descrption, so return that
            description = item['bcodmo:description']
            if 'bcodmo:units' in item:
                units = item['bcodmo:units']
            else:
                units = 'not applicable'
            #print(units)

    return description, units

In [114]:
#read in the package that was already made (using getBCODMOinfo.ipynb)
biosscope = Package('datapackage.json')
# biosscope = Package(JSON_FILE)

In [115]:
out = [];
for idx,item in enumerate(biosscope.resources):
    justFile = item.name;
    #pdb.set_trace()
    out.append(justFile)

out #this will be a list, iterate through the files on this list 
#leave here so I see the filenames might not need the actual list

['zooscan_images_bats_ae1614',
 'zooscan_images_bats_ae1712',
 'zooscan_images_bats_ae1819',
 'zooscan_images_bats_ae1830',
 'zooscan_bats_biovolume',
 'zooscan_mocness_output',
 'survey_biogeochemical',
 '920443_v1_biosscope_in_situ_pump_chemical_data',
 '964684_v1_amino_acids_biosscope_2021',
 '964801_v1_pump_carbohydrates_biosscope_2021',
 '964826_v1_pump_poc_pon_biosscope']

In [116]:
#most datasets need additional processing to get depth and/or time. 
#Set up a table here to note what needs to be done, use later to spin off to other scripts.
toSkip = {'zooscan_images_bats_ae1614', #these actually will not match below bc do not end in csv
 'zooscan_images_bats_ae1712',
 'zooscan_images_bats_ae1819',
 'zooscan_images_bats_ae1830',
 'zooscan_bats_biovolume'} #this has data, but no time or location informationn
pumpData = {'920443_v1_biosscope_in_situ_pump_chemical_data',
 '964684_v1_amino_acids_biosscope_2021',
 '964801_v1_pump_carbohydrates_biosscope_2021',
 '964826_v1_pump_poc_pon_biosscope'}
zoopData = {'zooscan_mocness_output'}
discreteData = {'survey_biogeochemical'};

# Start working with a data file

In [117]:
# import convert #this is the function, run this cell if I have made an edit to convert.py
# import convert_pumpData

In [118]:
for idx in range(len(biosscope.resources)):
    data_url = biosscope.resources[idx].path
    if data_url.endswith('.csv'):
        checkFile = re.split('/',data_url).pop().replace('.csv','')
        #print(data_url)
        #have a few options and trying to group these based on added steps needed to make the data file ready
        if checkFile in toSkip:
            print('skip ' + checkFile)
        elif checkFile in pumpData:
            %run convert_pumpData.py {idx}   
        elif checkFile in zoopData:
            %run convert_zoopData.py {idx}   
        elif checkFile in discreteData:
            %run convert.py {idx}   
        else:
            print('no match ' + checkFile)

skip zooscan_bats_biovolume
Data will go here: C:\Users\klongnecker\Documents\Dropbox\GitHub_espresso\BWrepos\data\zooscan_mocness_output
Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 2908, in safe_execfile
    py3compat.execfile(
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\IPython\utils\py3compat.py", line 55, in execfile
    exec(compiler(f.read(), fname, "exec"), glob, loc)
  File "C:\Users\klongnecker\Documents\Dropbox\GitHub_espresso\BWrepos\convert.py", line 198, in <module>
    main()
  File "C:\Users\klongnecker\Documents\Dropbox\GitHub_espresso\BWrepos\convert.py", line 160, in main
    'dataset_description': [biosscope.resources[idx_json].sources[0]['title']],
                                                ^^^^^^^^
NameError: name 'idx_json' is not defined

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
           ^^^^^
  File "C:\Users\klongnecker\anaconda3\Lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

Data will go here: C:\Users\klongnecker\Documents\Dropbox\GitHub_espresso\BWrepos\data\920443_v1_biosscope_in_situ_pump_chemical_data
Data will go here: C:\Users\klongnecker\Documents\Dropbox\GitHub_espresso\BWrepos\data\964684_v1_amino_acids_biosscope_2021
Data will go here: C:\Users\klongnecker\Documents\Dropbox\GitHub_espresso\BWrepos\data\964801_v1_pump_carbohydrates_biosscope_2021
Data will go here: C:\Users\klongnecker\Documents\Dropbox\GitHub_espresso\BWrepos\data\964826_v1_pump_poc_pon_biosscope

PermissionError: [Errno 13] Permission denied: 'data/BIOSSCOPE_964826_v1_pump_poc_pon_biosscope.xlsx'

troubleshooting bits below here

In [119]:
idx = 8
data_url = biosscope.resources[idx].path
checkFile = re.split('/',data_url).pop().replace('.csv','')
checkFile

'964684_v1_amino_acids_biosscope_2021'

In [120]:
 #to do: figure out a better way to do this so I am not reading in the json file every time
biosscope = Package('datapackage.json')

data_url = biosscope.resources[idx].path
md = biosscope.resources[idx].custom['bcodmo:parameters'] #this is a list, don't forget 'custom' (!!)

#make a short name out of the data_url, will use this as part of the name for the final Excel file 
exportFile = re.split('/',data_url).pop().replace('.csv','')

#super easy to work with the CSV file once I have the URL
#pdb.set_trace()
bcodmo = pd.read_csv(data_url,na_values = ['nd']) #now I have NaN...but they get dropped when writing the file
    
# Required variables are time, lat, lon, depth
df = pd.DataFrame(columns=['time','lat','lon','depth'])

In [121]:
temp = bcodmo.copy()

In [122]:
temp.head()

,Sample_ID,Cruise,Latitude,Longitude,Date,Size_fraction,Filter_type,Depth,Asp,Asp_sd,...,Val,Val_sd,Phe,Phe_sd,Ile,Ile_sd,Leu,Leu_sd,Lys,Lys_sd
0,22-03,AE2114,30.75,-64.08,2021-08-07,>20,Nitex,14,2.26,0.06,...,1.57,0.04,1.20,0.01,1.35,0.05,2.26,0.10,1.16,0.11
1,22-04,AE2114,30.75,-64.08,2021-08-06,>20,Nitex,56,1.72,0.07,...,0.80,0.01,1.01,0.10,0.67,0.01,1.48,0.03,0.31,0.03
2,22-05,AE2114,30.75,-64.08,2021-08-08,>20,Nitex,83,4.45,0.29,...,3.06,0.14,2.61,0.54,2.47,0.13,4.33,0.03,2.23,0.07
3,22-06,AE2114,30.75,-64.08,2021-08-06,>20,Nitex,123,2.37,0.03,...,1.20,0.03,1.49,0.04,1.03,0.02,2.10,0.04,0.35,0.05
4,22-07,AE2114,30.75,-64.08,2021-08-07,>20,Nitex,138,0.81,0.03,...,0.63,0.03,1.15,0.24,0.46,0.02,0.73,0.04,0.49,0.01

In [123]:
# time --> CMAP requirement is this: #< Format  %Y-%m-%dT%H:%M:%S,  Time-Zone:  UTC,  example: 2014-02-28T14:25:55 >
# Do this in two steps so I can check the output more easily
#no time available in particle data
temp = bcodmo.copy()
temp['date'] = pd.to_datetime(temp['Date'])
temp['date_cmap'] = temp['date'].dt.strftime("%Y-%m-%dT%H:%M:%S")
df['time'] = temp['date_cmap']

# lat (-90 to 90) and lon (-180 to 180); use variable names at BCO-DMO
df['lat'] = bcodmo['Latitude']
df['lon'] = bcodmo['Longitude']  #BCO-DMO already has this as negative

#depth in the UM data can be either 'Depth' or 'Depth_m' --> figure out which one
if 'Depth' in bcodmo.columns:
    useD = 'Depth'
elif 'Depth_m' in bcodmo.columns:
    useD = 'Depth_m'

df['depth'] = bcodmo[useD]

# all remaining columns in bcodmo can be considered data
#remember: bcodmo_trim will have the list of variables that I will use later to get metadata about the variables
#for the zoop data - keep min and max depth
bcodmo_trim = bcodmo.drop(columns=['Latitude', 'Longitude', useD])
nVariables = bcodmo_trim.shape[1] #remember in Python indexing starts with 0 (rows, 1 is the columns)
# and then add to the datafile I am assembling (essentially re-order columns
df = pd.concat([df, bcodmo_trim], axis=1)


# work on the second sheet: metadata about the variables; use the CMAP dataset template to setup the dataframe so I get the column headers right
templateName = 'datasetTemplate.xlsx'
sheet_name = 'vars_meta_data'
vars = pd.read_excel(templateName, sheet_name=sheet_name)
cols = vars.columns.tolist()
#df2 will be the dataframe with the metadata about the variables, set it up empty here
df2 = pd.DataFrame(columns=cols,index = pd.RangeIndex(start=0,stop=nVariables)) #remember, Python is 0 indexed

#the variables I need to search for are here: bcodmo_trim.columns, put them in the first column
df2['var_short_name'] = bcodmo_trim.columns
#Need the information from BCO-DMO to fill in the metadata about the variables.
#md = biosscope.resources[idx].custom['bcodmo:parameters'] #this is a list, don't forget 'custom' (!!)

In [124]:
for idx,item in enumerate(df2.iterrows()):
    if df2.loc[idx,'var_short_name'] != 'object_id':
        a,b = getDetails(md,df2.loc[idx,'var_short_name']) #getDetails is the function I wrote (see above)
        #pdb.set_trace()
        df2.loc[idx,'var_long_name'] = a
        df2.loc[idx,'var_unit'] = b
    elif df2.loc[idx,'var_short_name'] == 'object_id':
        df2.loc[idx,'var_long_name'] = 'Particle identifier'
        df2.loc[idx,'var_unit'] = 'unitless'

In [125]:
fName = 'CMAP_variableMetadata_additions.xlsx'
sheetName = checkFile[0:31] #already know where the trim will happen
moreMD = pd.read_excel(fName,sheet_name = sheetName)

#suffixes are added to column name to keep them separate; '' adds nothing while '_td' adds _td that can get deleted next
df2 = moreMD.merge(df2[['var_short_name','var_keywords']],on='var_short_name',how='right',suffixes=('', '_td',))


# Discard the columns that acquired a suffix:
df2 = df2[[c for c in df2.columns if not c.endswith('_td')]]

In [126]:
df2.head()

,var_short_name,var_long_name,var_sensor,var_unit,var_spatial_res,var_temporal_res,var_discipline,visualize,var_keywords,var_comment
0,Sample_ID,Internal sample ID,NaN,unitless,irregular,irregular,metadata,0,"AE2114, AE2123, Bermuda Institute of Ocean Sci...",NaN
1,Cruise,BIOSSCOPE cruise identifier,NaN,unitless,irregular,irregular,metadata,0,"AE2114, AE2123, Bermuda Institute of Ocean Sci...",NaN
2,Date,Date of sample collection,NaN,units,irregular,irregular,metadata,0,"AE2114, AE2123, Bermuda Institute of Ocean Sci...",NaN
3,Size_fraction,Particle size range for water fraction,NaN,micrometers (um),irregular,irregular,metadata,0,"AE2114, AE2123, Bermuda Institute of Ocean Sci...",NaN
4,Filter_type,"Filter type used for particle fraction (Nitex,...",NaN,unitless,irregular,irregular,metadata,0,"AE2114, AE2123, Bermuda Institute of Ocean Sci...",NaN

In [127]:
moreMD.head()

,var_short_name,var_long_name,var_sensor,var_unit,var_spatial_res,var_temporal_res,var_discipline,visualize,var_keywords,var_comment
0,Sample_ID,Internal sample ID,NaN,unitless,irregular,irregular,metadata,0,"AE2114, AE2123, Bermuda Institute of Ocean Sci...",NaN
1,Cruise,BIOSSCOPE cruise identifier,NaN,unitless,irregular,irregular,metadata,0,"AE2114, AE2123, Bermuda Institute of Ocean Sci...",NaN
2,Date,Date of sample collection,NaN,units,irregular,irregular,metadata,0,"AE2114, AE2123, Bermuda Institute of Ocean Sci...",NaN
3,Size_fraction,Particle size range for water fraction,NaN,micrometers (um),irregular,irregular,metadata,0,"AE2114, AE2123, Bermuda Institute of Ocean Sci...",NaN
4,Filter_type,"Filter type used for particle fraction (Nitex,...",NaN,unitless,irregular,irregular,metadata,0,"AE2114, AE2123, Bermuda Institute of Ocean Sci...",NaN

In [128]:
#metadata about the project    
# finally gather up the dataset_meta_data: for now I just wrote the information here, I might setup in a separate text file later
#pdb.set_trace()
df3 = pd.DataFrame({
    'dataset_short_name': ['BIOSSCOPE_v1'],
    'dataset_long_name': ['BIOS-SCOPE_' + exportFile],
    'dataset_version': ['1.0'],
    'dataset_release_date': ['2025-06-25'],
    'dataset_make': ['observation'],
    'dataset_source': ['Hilary Close, University of Miami Rosenstiel School of Marine and Atmospheric Science'],
    'dataset_distributor': ['Hilary Close, University of Miami Rosenstiel School of Marine and Atmospheric Science'],
    'dataset_acknowledgement': ['We thank the BIOS-SCOPE project team and the BATS team for assistance with sample collection, processing, and analysis. The efforts of the captains, crew, and marine technicians of the R/V Atlantic Explorer are a key aspect of the success of this project. This work supported by funding from the Simons Foundation International.'],
    'dataset_history': [''],
    'dataset_description': ['blah blah'],
    'dataset_references': ['Henderson, L.C., Wittmers, F., Carlson, C. A., Worden, A.Z., & Close, H. G. (2024. Variable carbon isotope fractionation of photosynthetic communities over depth in an open-ocean euphotic zone. Proceedings of the National Academy of Sciences, 121(10). https://doi.org/10.1073/pnas.2304613121'],
    'climatology': [0]
    })

In [129]:
#get the list of cruise names from the bcodmo data file
t = pd.DataFrame(bcodmo['Cruise'].unique())
t.columns = ['cruise_names']
# df3 = pd.concat([df3,t],axis=1,ignore_index = True)
df3 = pd.concat([df3,t],axis=1)

In [130]:
df3.head()

,dataset_short_name,dataset_long_name,dataset_version,dataset_release_date,dataset_make,dataset_source,dataset_distributor,dataset_acknowledgement,dataset_history,dataset_description,dataset_references,climatology,cruise_names
0,BIOSSCOPE_v1,BIOS-SCOPE_964684_v1_amino_acids_biosscope_2021,1.0,2025-06-25,observation,"Hilary Close, University of Miami Rosenstiel S...","Hilary Close, University of Miami Rosenstiel S...",We thank the BIOS-SCOPE project team and the B...,,blah blah,"Henderson, L.C., Wittmers, F., Carlson, C. A.,...",0.0,AE2114
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AE2123

In [ ]:
df3_columns = df3.columns

In [105]:
df3.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 'cruise_names',
       'cruise_names'],
      dtype='object')

In [106]:
len(df3.columns)

15

In [94]:
df3.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,BIOSSCOPE_v1,BIOS-SCOPE_964684_v1_amino_acids_biosscope_2021,1.0,2025-06-25,observation,"Hilary Close, University of Miami Rosenstiel S...","Hilary Close, University of Miami Rosenstiel S...",We thank the BIOS-SCOPE project team and the B...,,blah blah,"Henderson, L.C., Wittmers, F., Carlson, C. A.,...",0.0,AE2114
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AE2123

In [91]:
temp.head()

,object_id,object_lat,object_lon,object_date,object_time,ISO_DateTime_UTC,object_depth_min,object_depth_max,object_annotation_hierarchy,object_area,object_major,object_minor,object_feret,object_esd,sample_tot_vol,acq_sub_part,date,date_cmap
0,ae1614_m3_n1_d1_1_1,32.18217,-64.47535,2016-07-11,03:50:00,2016-07-11T06:50:00Z,902.2,996.2,not-living,2716,74.9,46.1,77.2,58.805770,531.5,2.0,2016-07-11 06:50:00+00:00,2016-07-11T06:50:00
1,ae1614_m3_n1_d1_1_10,32.18217,-64.47535,2016-07-11,03:50:00,2016-07-11T06:50:00Z,902.2,996.2,not-living,2928,127.3,29.3,318.5,61.057722,531.5,2.0,2016-07-11 06:50:00+00:00,2016-07-11T06:50:00
2,ae1614_m3_n1_d1_1_11,32.18217,-64.47535,2016-07-11,03:50:00,2016-07-11T06:50:00Z,902.2,996.2,not-living,13098,219.8,75.9,567.6,129.139040,531.5,2.0,2016-07-11 06:50:00+00:00,2016-07-11T06:50:00
3,ae1614_m3_n1_d1_1_12,32.18217,-64.47535,2016-07-11,03:50:00,2016-07-11T06:50:00Z,902.2,996.2,living,667521,2458.0,345.8,2403.4,921.907877,531.5,2.0,2016-07-11 06:50:00+00:00,2016-07-11T06:50:00
4,ae1614_m3_n1_d1_1_13,32.18217,-64.47535,2016-07-11,03:50:00,2016-07-11T06:50:00Z,902.2,996.2,not-living,2971,148.9,25.4,165.4,61.504428,531.5,2.0,2016-07-11 06:50:00+00:00,2016-07-11T06:50:00

In [90]:
#get the list of cruise names from the bcodmo data file
t = pd.DataFrame(temp['Cruise'].unique())
t.columns = ['cruise_names']
df3 = pd.concat([df3,t],axis=1,ignore_index = True)

KeyError: 'Cruise'

In [ ]:
#export the result as an Excel file with three tabs
#make the data folder if it is not already there (it is in .gitignore, so it will not end up at GitHub)
folder = "data"
os.chdir(".")

In [47]:
if os.path.isdir(folder):
    print("Data will go here: %s" % (os.getcwd()) + '\\' + folder + '\\' + exportFile)
else:
    os.mkdir(folder)

fName_CMAP = 'data/' + 'BIOSSCOPE_' + exportFile + '.xlsx' 
dataset_names = {'data': df, 'dataset_meta_data': df3, 'vars_meta_data': df2}
with pd.ExcelWriter(fName_CMAP) as writer:
    for sheet_name, data in dataset_names.items():
        data.to_excel(writer, sheet_name=sheet_name, index=False)

Data will go here: C:\Users\klongnecker\Documents\Dropbox\GitHub_espresso\BWrepos\data\964826_v1_pump_poc_pon_biosscope

In [46]:
fName_CMAP = 'test.xlsx' 
dataset_names = {'data': df, 'dataset_meta_data': df3, 'vars_meta_data': df2}
with pd.ExcelWriter(fName_CMAP) as writer:
    for sheet_name, data in dataset_names.items():
        data.to_excel(writer, sheet_name=sheet_name, index=False)

In [ ]:
raise UserWarning('Stopping and leave code below for historical reasons, code will not run')

In [ ]:
#the object_id has the cruise information that will be needed later...pull that out
temp['Cruise'] = ''
for i,item in temp.iterrows():
    c = re.split('_',temp.loc[i,'object_id'])
    oneC = [c[n] for n in (0,)]
    #pdb.set_trace()
    temp.loc[i,'Cruise'] = oneC[-1]

In [ ]:
#was heading down this path and using out as a dictionary, leave for now in case I come back to this.
# out = {};
# for idx,item in enumerate(biosscope.resources):
#     justFile = item.name;
#     #pdb.set_trace()
#     out.update({'file':justFile})
#     if justFile == '920443_v1_biosscope_in_situ_pump_chemical_data':
#         print('yes')
#         out.update({'toDo':'addDepth'})
        
#     #out.append(justFile)

# out #this will be a list, iterate through the files on this list